<main>

  <div class="container">
    <div class=about-box-container>
    <img class="about-logo" src="http://www.dolanrealtysd.com/images/logo.gif" alt="Dolan logo" />
      <div class="about-box">

        <div class="services">

          <h3>OUR SERVICES:</h3>
          <h4>
            <ul>
              <li>Buyer Representation</li>
              <li>Seller Representation</li>
              <li>Short Sale Consultation</li>
              <li>Value-Add Investment</li>
            </ul>
          </h4>
        </div>
        <div class="about">
          <h4>
            Thank you for taking the time to learn about our company!<br>

            Dolan Realty Company was founded in 2009 in San Diego, California. Our brokerage focuses on providing the highest level of service to our clients. We work with first time home Buyers, Sellers, and Investors to acheive their real estate goals by utilizing our experience and knowledge in the San Diego market.<br><br>
            <a href="mailto:team@dolanrealtysd.com">team@dolanrealtyca.com</a>
          </h4>
        </div>
      </div>
    </div>

  </div>
</main>

<footer>
  <div class="container">
    <div class="footer">
      <div class="header-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</footer>
