<main>
  <div class="container contact-box">
    <img src="http://www.dolanrealtysd.com/images/logo.gif" alt="Dolan logo" /><br><br>
    <h4>
      Whether you are a buyer, seller, or have general questions about the San Diego real estate market, please contact us today<br><br>
      Dolan Realty Company<br>
      8677 Villa La Jolla Dr., #1102<br>
      La Jolla, CA 92037<br>
      Phone: (858) 353-0892<br>
      Fax: (858) 755-6948<br>
    </h4>

    <a href="mailto:team@dolanrealtysd.com">team@dolanrealtyca.com</a>
  </div>
</main>

<footer>
  <div class="container">
    <div class="footer">
      <div class="header-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</footer>
