<div id="cover"></div>
<div id="modal">
	<div class="inner-modal">
    <form id="agent-request" method="post">
    		<div class="form-heading">
    		Talk to an Agent
    		</div>
    		<div class="form-field">
    			<label>First Name</label><br>
    			<input type="text"
                 name="fname">
    		</div>
    		<div class="form-field">
    			<label>Last Name</label><br>
    			<input type="text"
                 name="lname">
    		</div>
    		<div class="form-field">
    			<label>Property Address</label><br>
    			<input type="text"
                 name="street"
                 placeholder="55 Easy Street">
    		</div>
    		<div class="form-field">
    			<div></div><br>
    			<input type="text"
                 name="city"
                 placeholder="San Diego, CA">
    		</div>
    		<div class="form-field">
    			<label>Email</label><br>
    			<input type="text"
                 name="email">
    		</div>
        <input class="submit"
               type="submit">
    </form>
	</div>
</div>

<main>
  <section class="banner">
    <div class="container">
      <div class="banner-top">
        <div class="banner-blurb">
          We believe buying a home can be easy.
        </div>
      </div>
      <div class="banner-bottom">
        <h4><strong>Sell Your Home to Dolan Realty</strong> <br />
          Talk to an experienced real estate agent today.
        </h4>
        <button type="button"
                class="edit"
                name="button">
                Start Now!
        </button>
				<button type="button"
								class="follow"
								name="button">
								Start Now!
				</button>

      </div>
    </div>
  </section>
  <section class="promo-box">
    <div class="container">
      <div class="inner-container">
        <img src="http://www.dolanrealtysd.com/images/logo.gif"
             alt="Dolan logo" /><br><br>

        <h4>Dolan Realty Company is a full service real estate brokerage headquartered in San Diego, California. Our team of experienced agents strive to provide the highest level of service to our clients and partners. t</h4>
      </div>
    </div>
  </section>
	<section class="testimonial-box">
		<div class="container">
			<h2 class="testimonial-headline">Serving California since 2009</h2>
			<div class="row">
				<div class="col">
					<div class="card">
						<div id="left-testimonial" class="card-media"></div>
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br /><br /> -Sancho Panza
						</div>
					</div>
					<div class="card">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br /><br /> -Kal El
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br /><br /> -Walt Flanigan
						</div>
					</div>
					<div class="card">
						<div id="right-testimonial" class="card-media"></div>
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br /><br /> -Dulcinea del Toboso
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <section class="carousel-box">
    <div class="container">
      <div class="slider-for">
      	<div class="image-wrapper">
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477341356/Varassaari5_pw4gpa.jpg" />
        </div>
        <div class="image-wrapper">
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477342287/2016080731-PJ-Houses-1800-Holly-Kellum-1906_nq9qkm.jpg" />
        </div>
        <div class="image-wrapper">
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477341648/54c4956d156f2_-_01-hbx-blue-house-exterior-0513-xln-42436446_nbazzu.jpg" />
        </div>
        <div class="image-wrapper">
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477344075/c5db5b1c6990fbb911135813608c9ad4_vtknjg.jpg" />
        </div>
        <div class="image-wrapper">
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477343186/38df76f08d36cca06eee1081089a3bf9_ubonjq.jpg" />
        </div>
        <div class="image-wrapper">
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477339692/33a014e1600ecea05b29ba47c4c0c20a_bzol2d.jpg" />
        </div>
      </div>

      <div class="slider-nav">
        <div>
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477341356/Varassaari5_pw4gpa.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477342287/2016080731-PJ-Houses-1800-Holly-Kellum-1906_nq9qkm.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477341648/54c4956d156f2_-_01-hbx-blue-house-exterior-0513-xln-42436446_nbazzu.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477344075/c5db5b1c6990fbb911135813608c9ad4_vtknjg.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477343186/38df76f08d36cca06eee1081089a3bf9_ubonjq.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_780/v1477339692/33a014e1600ecea05b29ba47c4c0c20a_bzol2d.jpg" />
        </div>
      </div>
    </div>
  </section>

	<script src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="slick/slick.js"></script>
  <script type="text/javascript" src="carousel.js"></script>
  <script type="text/javascript" src="modal.js"></script>
  <script type="text/javascript" src="sellButton.js"></script>
</main>
<footer>
  <div class="container">
    <div class="footer-index">
      <div class="header-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</footer>
