<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dolan Realty</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="middle-row-center">
          <div class="logo">
            <a href="/">DOLAN</a>
          </div>
          <div class="header-links">
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT</a>
            <!-- <div class="">

          </div> -->
          </div>
        </div>
      </div>
    </header>
    {{{body}}}

  </body>
</html>
