body {
  margin: inherit;
  font-family: 'Hind', sans-serif;
}

@media (min-width: 768px) {
  .container {
    width: 732px;
  }
}

@media (min-width: 992px){
  .container {
    width: 956px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
}

header {
  height: 56px;
  box-shadow: 0px 0px 2px #ccc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.logo {
  font-weight: bold;
}

.banner-top {
  font-size: 56px;
  margin-right: 40%;
  line-height: 59px;
  font-weight: 300;
}

.banner, .promo-box, .stat-container, .testimonial-box, .carousel-box {
  padding-top: 8%;
}

.slider-for {
  width: 750px;
  margin: 0 auto;
}

.slider-nav {
	margin: 30px auto;
	width: 550px;
}

.slider-nav img {
  width: 100px;
}

.banner {
  width: 100%;
  background: url(http://res.cloudinary.com/dxbwq1eyw/image/upload/c_crop,h_700,w_1500/v1476912417/stock-photo-happy-young-couple-have-fun-in-modern-kitchen-indoor-while-preparing-fresh-fruits-and-vegetables-87847660_invbwl.jpg) bottom / auto 100% no-repeat;
  background-size: cover;
  border-bottom: solid 5em rgb(250, 250, 250);
}

.banner-bottom {
  margin: 10% 0px 0px 0px;
  padding: 6% 0px;
  color: white;
}

button {
  width: 500px;
  height: 48px;
  text-align: left;
  font-size: 15px;
  background-color: white;
  color: rgb(43, 168, 222);
  border: 0px;
  padding-left: 11px;
}

button:hover {
  cursor: pointer;
}

.inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.inner-container h2, .inner-container h4 {
  text-align: center;
}

.inner-container h2 {
  font-weight: 300;
  font-size: 1.875em;
  color: rgb(89, 89, 89);
}

.inner-container h4, .card {
  color: rgb(112, 134, 143);
}

.row {
  display: flex;
}

.col {
  padding: 6px;
  width: 48%;
}

.card {
  padding: 6px;
  border: solid 1px rgb(216, 228, 227);
  border-radius: 2px;
  margin-bottom: 10px;
}

.card-content {
  padding: 35px 60px;
}

#left-testimonial {
  background: url(http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_613/v1476925766/family_rhlzh3.jpg) 0 0 no-repeat;
  background-size: cover;
  height: 270px;
}

#right-testimonial {
  background: url(http://res.cloudinary.com/dxbwq1eyw/image/upload/c_scale,w_509/v1476925579/6123663-happy-family-having-fun-baby-boy-with-brown-curly-hair-and-his-mother_duhsck.jpg) 0 0 no-repeat;
  background-size: cover;
  height: 270px;
}

h4 {
  font-size: 19px;
  font-weight: 300;
  line-height: 28px;
}

.middle-row-center {
  display: flex;
  justify-content: space-between;
}
